<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="\public\stylesheets\style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>supermercado SQL</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light align-content-lg-center">
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                  <img src="https://cdn4.iconfinder.com/data/icons/vegetables-97/200/Radish-512.png" width="40" height="35" alt="">Mercado SQL
                </a>
              </nav>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Funcionarios</a>
                </li>
            </ul>
        </div>
    </nav>

    <style>
        .navbar-light {
            background-color: #ddf193;
        }

      .headerlogo {
          width: 10vh;
      }
    </style>